/* font */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 1;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #141E46;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
    color: #FFF5E0;
}

p {
    background-color: transparent;
}

.container {
    border: 5px solid #BB2525;
    margin: 0px auto 0px;
    width: 450px;
    height: 650px;
    align-items: center;
    background-color: #FF6969;
    border-radius: 5px;
}

#display {
    margin: 20px 40px;
    padding: 10px;
    color: #FFF5E0;
    letter-spacing: 3px;
    text-align: right;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    border: solid 3px #FFF5E0;
    background-color: #bb2525a4;
    box-shadow: 0px 2px 0px 0px grey;
    height: 80px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    height: 480px;
    width: 440px;
    background-color: #FF6969;
    padding: 5px;
}

button {
    width: 20%;
    height: 18%;
    color: #FFF5E0;
    flex-grow: 1;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #FFF5E0;
    border-radius: 3px;
    box-shadow: 0px 2px 0px 0px darkgray;
    background-color: #fc5959;
}

button:hover {
    filter: brightness(130%);
    transition: 0.1s;
}

button:active {
    margin-top: 3px;
}

.previous {
    background-color: transparent;
    font-size: 28px;
}

.current {
    background-color: transparent;
    font-size: 35px;
}